
body {
    
    border-style: dashed;
    border-width: 2px;
    border-color: black;
    border-radius: 35px;
    background-image: url(https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L03/task_material/images/bg.png);
    background-repeat: repeat;
    width:800px;
    margin-top:2%;
    margin-bottom:3%;
    margin-left:auto;
    margin-right:auto;
    overflow-x:hidden;
    box-shadow: 0 20px 25px 10px rgba(0, 0, 0, 0.4), 0 5px 25px 0 rgba(0, 0, 0, 0.19);
}

#Content{
    padding: 3%;
}

html {
    background-color:#D98F8F;
}

.Navbar {
    overflow:visible;
    background-color: #D98F8F;
    position:sticky;
    top:2%;
    width:100%;
    border-radius: 10px;
    float:left;
    z-index: 10;
    box-shadow: 1px 1px 3px grey ;
    
    
}

.adopt {
	box-shadow:inset 2px 1px 9px 1px #e8860e;
	background-color:#f2af5c;
	border-radius:11px;
	border:1px solid #f2af5c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 45px;
	text-decoration:none;
	text-shadow:0px 1px 6px #f5c993;
    margin-bottom:6%;
    margin-top:-2%;
    position: relative;
    float: inline;
    left:50%;
    transform: translateX(-50%)
}
.adopt:hover {
	background-color:#db943d;
}
.adopt:active {
	position:relative;
	top:1px;
}

.button {
	box-shadow:inset 2px 1px 9px 1px #a36d6d;
	background-color:#d98f8f;
	border-radius:11px;
	border:1px solid #d98f8f;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 45px;
	text-decoration:none;
	text-shadow:0px 1px 6px #d98f8f;
    margin-bottom:5%;
    margin-right:auto;
    margin-left:auto;
    display:inline-block;
    position: relative;
    float: inline;
    left:50%;
    transform: translateX(-50%)
}
}
.button:hover {
	background-color:#f29e9e;
}
.button:active {
	position:relative;
	top:1px;
}

.Absendebutton {
	box-shadow:inset 2px 1px 9px 1px #a36d6d;
	background-color:#d98f8f;
	border-radius:11px;
	border:1px solid #d98f8f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:8px 25px;
	text-decoration:none;
	text-shadow:0px 1px 6px #d98f8f;
    margin-top:0.5%;
    position: relative;
    left:17%;
    transform: translateX(-50%)
}
.Absendebutton:hover {
	background-color:#f29e9e;
}
.Absendebutton:active {
	position:relative;
	top:1px;
}



#Krone {
    top: -36%;
    position:absolute;
    float:right;
    right: 1%;
    width:5%;
    background-color: #D98F8F;
    border: 1px solid white;
    padding:10px;
    border-radius: 100%;
    
  transition: transform .7s ease-in-out;
    
}

#Krone:hover {

    
  transform: rotate(360deg);
}


.Navbar a{
float:left;
color:white;
text-align: center;
padding: 1%;
font-family: Arial, Helvetica, sans-serif;
font-variant: small-caps;
font-size: 1.2em;
text-decoration: none;
border-right:1px solid white;
background-color: #2A4759;

}

.Navbar .current{
    background-color: #F2AF5C;
}

#Pfusch {
    border-radius:10px 0 0 10px;
}

.Navbar div{
    float:left;
    
    }

.Navbar a:hover{
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 1.2em;
    text-decoration: none;
    border-right:1px solid white;
    background-color:#D98F8F;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;

}

#Anni {
    width:40%;
    float: left;
    margin-right:5%;
    margin-top: 5%;
    margin-bottom: 5%;

}

#Aboutmediv{
    float: inline;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6%;
    margin-bottom:5%;
    color: #2A4759;
    letter-spacing: 3px;
    word-spacing: 2px;
    font-style: normal;
    font-variant: small-caps;
    width: 85%;
    font-size: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #2A4759;
    margin-top:4%;
    letter-spacing: 3px;
    word-spacing: 2px;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    width: 85%;
}


#Aboutme {
    margin-top:10%;
    margin-bottom: 2%;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    letter-spacing: 0,5px;
}


.Medien {
    width: 100%;
    margin-bottom:4%;
}

#Audiotext {
    width:45%;
    float:left
}

#Audio {
    position: absolute;
    width:50%;
    right:0%;
    margin-top:3%;
    float:inline;
}

#Audiogesamt {
    width: 100%;
    height: 100%;
    margin-bottom: 6%;
    float: inline-start;
    position: relative;
}

#Tanz {
   display:block;
   margin-right: auto;
   margin-left:auto;
}

#Audiopfusch {
    margin-top:15%;
}


#Datenschutz {
    color:grey;
    font-size: 9pt;
    width:90%;
}

.Input {
    width:50%;
    margin-bottom:0.5%;
    background-color: lightgrey;
}

#Nachricht {
    
    background-color: lightgrey;
}


#kontaktformular{
    float:inline-start;
    width:400px;
    margin-bottom:4%;
}

#Snoopy {
float:inline;
margin-bottom: 13%;;
margin-left:10%;
}


#Insta {
    width:4%;
    position:absolute;
    right:16%;
    top:8%;

}

#Insta:hover {
    width:5%;
    position:absolute;
    right:15.5%;
    top:-2%;


}


#Discord {
    width:5%;
    position:absolute;
    right:21.5%;
    top:0%;
    
}
    
#Discord:hover {
    width:6%;
    position:absolute;
    right:21%;
    top:-10%;
    
}

 #Header {
    float:left;
    width:800px;
    margin-top:-10%;
    margin-bottom:-10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px 35px 0 0 ;

}


Header {
    margin:auto;
    width:800px;
    overflow:hidden;
}


#Pdf {
    width:750px;height:450px
}

.Imagecontainer {
    position: relative;
    margin-bottom: 4%;
  }
  
 
  .Imagetext {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .Bildermaxwidth {
      width:100%;
  }

  #Bauhaustext {
      float: inline-end;
      width: 40%;
      margin-top: -2%;
  }

  #Bauhaus {
      float: inline;
  }

  #Bauhauscontainer {
      margin-top: 5%;
  }
  

  #Saulgautext {
    float: inline-end;
    width: 40%;
    margin-top: -2%;
}

#Saulgautext {
    float: inline;
}

#Saulgaucontainer {
    margin-top: 5%;
    position: relative;
    margin-bottom: 4%;
}
#Saulgau1 {
    width: 55%;
    right: 20%;
    
}


#Saulgautext2 {
    float: inline-end;
    width: 40%;
    margin-top: -2%;
}

#Saulgautext2 {
    float: inline;
}

.Saulgaucontainer {
    margin-top: 5%;
    position: relative;
    margin-bottom: 4%;
}
.Saulgau {
    width: 55%;
    right: 20%;
    
}
#flower{
    width: 100%;

}
.Familie{
    width: 45%;
    padding-right: 4%;
    margin-bottom: 4%;
}
#Holi{
    width: 100%;
}
#Kunst{
    width: 100%;
    position: static;
    display:block;
}